.container {
  min-height: 100vh;
  width: 100%;
  background-color: #f8f6f5;
}

.cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
  .cards {
    align-items: center;
    justify-content: center;
  }
}
