.content {
  width: 60%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #3c3f43;
}

.imgDiv {
  height: 105vh;
  position: relative;
}

.content_img {
  width: 100%;
  height: 100vh;
  padding: 2rem 0 1rem 0;
}

.imgDesc {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.desc {
  font-size: 18px;
  line-height: 1.7;
}

.date {
  text-align: right;
  padding-top: 4rem;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .imgDiv {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_img {
    height: 50vh;
    width: 120%;
  }
  .imgDesc {
    bottom: 10px;
    font-size: 10px;
    text-align: center;
  }
}
